.CodepenCommentEditor-root {
  background: transparent;
  font-family: "Lato", serif;
  font-size: 14px;
}

.CodepenCommentEditor-editor {
  background: #fff;
  border: 3px solid #ccc;
  cursor: text;
  font-size: 13px;
  margin-top: 10px;
  font-family: "Lato";
  transition: all 0.2s ease-in;
}

.CodepenCommentEditor-focus {
  border-color: #555;
}

.CodepenCommentEditor-editor .public-DraftEditorPlaceholder-root,
.CodepenCommentEditor-editor .public-DraftEditor-content {
  padding-left: 5px;
  padding-top: 5px;
}

.CodepenCommentEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.CodepenCommentEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.CodepenCommentEditor-editor .CodepenCommentEditor-blockquote {
  border-left: 2px solid #76daff;
  background-color: rgba(0, 0, 0, 0.05);
  color: #666;
  font-style: italic;
  margin: 16px 0;
  margin-right: 5px;
  padding: 10px 20px;
}

.CodepenCommentEditor-editor .public-DraftStyleDefault-pre {
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.CodepenCommentEditor-controls {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin-bottom: 2px;
  user-select: none;
}

.CodepenCommentEditor-styleButton {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 7px;
  border: 1px solid transparent;
  margin: 0 5px 0 0;
  border-radius: 3px;
  background: #343436;
}

.CodepenCommentEditor-submitButton {
  color: white;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  padding: 10px 16px;
  background: none;
  border: 3px solid #ccc;
  border-radius: 3px;

  &:hover {
    background: white;
    border-color: white;
    color: black;
}
}

.CodepenCommentEditor-activeButton {
  background: #4d4d50;
  transform: translateY(1px);
}
