.rt_answerComment{
  margin-right: 5px;
}
.rt_answerComment-sender > img{
  border-style: none;
  height: 20px;
  width: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 3px;
}
.rt_answerComment-sender > span{
  margin-left: 35px;
}
.rt_answerComment-sender-nick{
  font-weight: bold;
}
.rt_answerComment-sender{
  text-decoration: none;
  position: relative;
  display: flex;
  color: inherit;
}
