.rt_blockquouteComment{
  position: relative;
  margin: 5px 0 10px;
  padding: 5px 0 10px;
}
.rt_blockquouteComment-edit{
  user-select: none;
  cursor: copy;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  z-index: 3;
}
.rt_blockquouteComment-edit-select{
  border: 1px solid
}
.rt_blockquouteComment-sender > img{
  border-style: none;
  height: 20px;
  width: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
}
.rt_blockquouteComment-sender > span{
  margin-left: 35px;
}
.rt_blockquouteComment-sender-nick{
  font-weight: bold;
}
.rt_blockquouteComment-sender-date{
  font-size: 0.75em;
}
.rt_blockquouteComment-sender{
  text-decoration: none;
  position: relative;
  color: inherit;
}
.rt_blockquouteComment-quote-body > .NIcon{
  position: absolute;
  left: -30px;
  top: 3px;
  font-size: .8em;
  opacity: .6;
}
.rt_blockquouteComment-quote-body{
  position: relative;
  margin: 10px 0 10px 35px;
  min-height: 1em;
}
.rt_blockquouteComment-quote-hidden{
  max-height: 55px;
  cursor: pointer;
  overflow-y: hidden;
}
.rt_editor .rt_blockquouteComment-quote-hidden{
  max-height: none;
}
.rt_blockquote-quote-view{
  cursor: auto;
}
.rt_blockquouteComment-quote-substrate{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.rt_blockquouteComment-rt.rt_body{
  margin: 0;
  padding: 0;
}
