.rt_icon_button-wrapper{
  position: relative;
}

.rt_icon_button{
  margin: 0 1px;
  border: none;
  cursor: pointer;
  padding: 10px 5px;
  background-color: transparent;
}
.rt_icon_button:hover{
  text-shadow: 0 0 2px;
}
.rt_icon_button-active{
  text-shadow: 0 0 5px;
}

.rt_icon_button-disabled{
  cursor: not-allowed;
  background: rgba(175, 175, 175, 0.35);
}
.rt_icon_button-disabled:hover{
  text-shadow: none;
}
