.rt_body {
  background: transparent;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 20px;
  flex-grow: 2;
}
.rt_editor{
  background: #fff;
  padding: 20px 10px;
  cursor: text;
  font-size: 1em;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 1px;
}
.rt_editor_read{
  background: transparent;
}
.rt_hide_placeholder .public-DraftEditorPlaceholder-root{
  display: none;
}

.rt_body h1, .rt_body h2, .rt_body h3, .rt_body h4, .rt_body h5, .rt_body h6{
  font-weight: bold;
}

.rt_body h1{
  font-size: 2em;
}
.rt_body h2{
  font-size: 1.5em;
}
.rt_body h3{
  font-size: 1.17em;
}
.rt_body h4{
  font-size: 1em;
}
.rt_body h5{
  font-size: .83em;
}
.rt_body h6{
  font-size: .67em;
}
