.rt_dropdown_select{
  position: relative;
}
.rt_dropdown_select > select{
  padding: 5px;
  border: none;
  outline: none;
  opacity: 0;
  position: relative;
  z-index: 2;
  height: 100%;
  cursor: pointer;
}
.rt_dropdown_select > span{
  position: absolute;
  padding: 5px;
  width: 100%;
  margin: auto;
  left: 0;
  top: 1px;
  border-bottom: 1px solid;
  text-align: left;
}
.rt_dropdown_select > span:before, .rt_dropdown_select > span:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}
.rt_dropdown_select > span:before{
  margin-top: -10px;
  border-bottom-color: #555;
}
.rt_dropdown_select > span:after{
  margin-top: 1px;
  border-top-color: #555;
}
