.rt_blockquote{
  position: relative;
  margin: 15px 35px;
  transition: height 0.5s;
}
.rt_blockquote:before{
  position: absolute;
  left: -30px;
  top: 3px;
  font-size: .8em;
  opacity: .6;
  content: "\e949";
  font-family: 'IconMoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rt_blockquote-hidden{
  cursor: pointer;
  height: 5em;
  overflow-y: hidden;
}
.rt_blockquote-view{
  cursor: auto;
}
.rt_blockquote-substrate{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.div-wrapper-left{
  float: left;
  position: relative;
  z-index: 1;
}
.code_block-wrapper{
  background-color: #cccccc;
  padding: 10px;
  border-radius: 5px;
}
.code_block-wrapper > pre {
  margin: 5px 0;
}
