@font-face {
  font-family: 'IconMoon';
  src:  url('../../../assets/fonts/icons/IconMoon.eot');
  src:  url('../../../assets/fonts/icons/IconMoon.eot') format('embedded-opentype'),
  url('../../../assets/fonts/icons/IconMoon.ttf') format('truetype'),
  url('../../../assets/fonts/icons/IconMoon.woff') format('woff'),
  url('../../../assets/fonts/icons/IconMoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.NIcon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconMoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NIcon-not-view:before {
  content: "\e94a";
}
.NIcon-view:before {
  content: "\e94b";
}
.NIcon-quote-comment:before {
  content: "\e949";
}
.NIcon-link-remove:before {
  content: "\e947";
}
.NIcon-link:before {
  content: "\e948";
}
.NIcon-rounded-rectangle:before {
  content: "\e940";
}
.NIcon-quote2:before {
  content: "\e941";
}
.NIcon-plus-square:before {
  content: "\e93f";
}
.NIcon-remove:before {
  content: "\e93e";
}
.NIcon-cropping:before {
  content: "\e93d";
}
.NIcon-remove-square:before {
  content: "\e93b";
}
.NIcon-add-square:before {
  content: "\e93c";
}
.NIcon-camera:before {
  content: "\e93a";
}
.NIcon-exit:before {
  content: "\e938";
}
.NIcon-tree:before {
  content: "\e939";
}
.NIcon-grid:before {
  content: "\e930";
}
.NIcon-edit:before {
  content: "\e936";
}
.NIcon-hide:before {
  content: "\e937";
}
.NIcon-no-comment:before {
  content: "\e934";
}
.NIcon-lock:before {
  content: "\e935";
}
.NIcon-bell:before {
  content: "\e91d";
}
.NIcon-calendar:before {
  content: "\e91e";
}
.NIcon-comment:before {
  content: "\e91f";
}
.NIcon-cup:before {
  content: "\e920";
}
.NIcon-fire:before {
  content: "\e921";
}
.NIcon-folder:before {
  content: "\e922";
}
.NIcon-gift:before {
  content: "\e923";
}
.NIcon-list:before {
  content: "\e924";
}
.NIcon-network:before {
  content: "\e925";
}
.NIcon-append:before {
  content: "\e926";
}
.NIcon-publicity:before {
  content: "\e927";
}
.NIcon-quote:before {
  content: "\e928";
}
.NIcon-reply:before {
  content: "\e929";
}
.NIcon-repository:before {
  content: "\e92a";
}
.NIcon-reward:before {
  content: "\e92b";
}
.NIcon-share:before {
  content: "\e92c";
}
.NIcon-tag:before {
  content: "\e92d";
}
.NIcon-comments:before {
  content: "\e92e";
}
.NIcon-eyes:before {
  content: "\e92f";
}
.NIcon-search:before {
  content: "\e931";
}
.NIcon-sort-bottom:before {
  content: "\e932";
}
.NIcon-sort-top:before {
  content: "\e933";
}
.NIcon-odnoklassniki:before {
  content: "\e900";
}
.NIcon-vk:before {
  content: "\e901";
}
.NIcon-instagram:before {
  content: "\e902";
}
.NIcon-twitter:before {
  content: "\e903";
}
.NIcon-facebook:before {
  content: "\e904";
}
.NIcon-arrow-top:before {
  content: "\e905";
}
.NIcon-sections:before {
  content: "\e906";
}
.NIcon-arrow-left-1:before {
  content: "\e907";
}
.NIcon-arrow-left-2:before {
  content: "\e908";
}
.NIcon-arrow-left-3:before {
  content: "\e909";
}
.NIcon-setting:before {
  content: "\e90a";
}
.NIcon-subscription:before {
  content: "\e90b";
}
.NIcon-articles:before {
  content: "\e90c";
}
.NIcon-adjustment:before {
  content: "\e90d";
}
.NIcon-menu:before {
  content: "\e90e";
}
.NIcon-sites:before {
  content: "\e90f";
}
.NIcon-blog:before {
  content: "\e910";
}
.NIcon-profile:before {
  content: "\e911";
}
.NIcon-activity:before {
  content: "\e912";
}
.NIcon-personality:before {
  content: "\e913";
}
.NIcon-help:before {
  content: "\e914";
}
.NIcon-division-element:before {
  content: "\e915";
}
.NIcon-arrow-right:before {
  content: "\e916";
}
.NIcon-communities:before {
  content: "\e917";
}
.NIcon-home:before {
  content: "\e918";
}
.NIcon-logout:before {
  content: "\e919";
}
.NIcon-arrow-bottom:before {
  content: "\e91a";
}
.NIcon-close:before {
  content: "\e91b";
}
.NIcon-ok:before {
  content: "\e91c";
}
.NIcon-eyedropper:before {
  content: "\e942";
}
.NIcon-file-picture:before {
  content: "\e943";
}
.NIcon-file-music:before {
  content: "\e944";
}
.NIcon-file-play:before {
  content: "\e945";
}
.NIcon-file-zip:before {
  content: "\e946";
}
.NIcon-undo2:before {
  content: "\e967";
}
.NIcon-redo2:before {
  content: "\e968";
}
.NIcon-list-numbered:before {
  content: "\e9b9";
}
.NIcon-list2:before {
  content: "\e9bb";
}
.NIcon-attachment:before {
  content: "\e9cd";
}
.NIcon-bold:before {
  content: "\ea62";
}
.NIcon-underline:before {
  content: "\ea63";
}
.NIcon-italic:before {
  content: "\ea64";
}
.NIcon-strikethrough:before {
  content: "\ea65";
}
.NIcon-superscript2:before {
  content: "\ea6b";
}
.NIcon-subscript2:before {
  content: "\ea6c";
}
.NIcon-text-color:before {
  content: "\ea6d";
}
.NIcon-table2:before {
  content: "\ea71";
}
.NIcon-paragraph-left:before {
  content: "\ea77";
}
.NIcon-paragraph-center:before {
  content: "\ea78";
}
.NIcon-paragraph-right:before {
  content: "\ea79";
}
.NIcon-paragraph-justify:before {
  content: "\ea7a";
}
.NIcon-indent-increase:before {
  content: "\ea7b";
}
.NIcon-indent-decrease:before {
  content: "\ea7c";
}
.NIcon-embed:before {
  content: "\ea7f";
}
.NIcon-terminal:before {
  content: "\ea81";
}
